.messages {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.messages__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.messages__title {
    display: block;
    padding: 0;
    text-align: center;
}

.messages__contacts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.messages__dialog_wrapper {
    padding: 20px;
    border-left: 2px solid white;
}

.messages__content {
    width: 50%;
}