.App {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  margin:  0 auto;
}

body {
  background-color: black;
  background-image: url('background.jpg');
}

.App__wrapper {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.display-hide {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}